@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// New
.container {
  margin: 0 auto;
}
.table {
  border: 1px solid black;
}
.row {
  border: 1px solid black;
}
.cell {
  border: 1px solid black;
  text-align: center;
  min-width: 40px;
  height: 40px;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
